@media (max-width: 768px) {
  body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    min-height: 100vh;
    font-family: "Kanit", sans-serif;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    z-index: 100;
  }

  .nav {
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .nav-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: black;
    width: 100%;
    height: 64px;
    display: grid;
    align-content: center;
  }

  .nav-list,
  .nav-link {
    display: flex;
    gap: 15px;
  }

  .nav-link {
    flex-direction: column;
    align-items: center;
    row-gap: 1px;
    color: white;
  }

  .nav-list {
    padding: 10px;
    justify-content: flex-start;
  }

  .nav-name {
    font-size: 14px;
    color: white;
    font-weight: 600;
  }

  .active {
    color: #93277F;
  }

  .logo {
    height: 40px;
    width: 40px;
  }

  .workshop {
    background-color: #93277F;
    width: 70px;
    height: 70px;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 30px;
  }

  .nav-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .out {
    opacity: 0;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 32px;
    height: 32px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 200;
  }

  .hamburger .bar {
    width: 30px;
    height: 4px;
    background-color: #fff;
    display: block;
  }

  .hamburger-nav {
    display: none;
    position: absolute;
    top: 68px;
    right: 0;
    width: 200px;
    height: 870px;
    background: #000;
    z-index: -1;
    text-align: center;
  }

  .hamburger-nav.active {
    display: block;
  }

  .hamburger-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }


  .hamburger-nav li:last-child {
    border-bottom: none;
  }

  .hamburger-nav a {
    display: block;
    color: #fff;
    padding: 12px;
    text-decoration: none;
    font-size: 16px;

  }

  .amorabi-logo {
    margin-left: 100px;
  }

  .external-icon {
    padding-left: 2px;
  }

  .feed-container {
    margin-top: 68px;
    margin-bottom: 120px;
  }

  .post-format {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Kanit", sans-serif;
    border-bottom: 1px solid black;
  }

  .post-header {
    padding: 16px;
    gap: 12px;
  }

  .user-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
  }

  .user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;  
  }

  .username {
    font-size: 20px;
    margin: 0;
  }

  .user-type {
    font-size: 12px;
    color: #93277F;
    margin: 0;
  }

  .post-image {
    width: 100%;
    height: 365px;
    border-radius: 20px;
    object-fit: cover;
    cursor: pointer;
  }

  .post-description {
    width: 100%;
    font-size: 14px;
    color: #000000;
    font-weight: bold;
  }

  .post-actions {
    display: flex;
    align-items: center;
    gap: 35px;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .action {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .post-actions img {
    width: 28px;
    height: 28px;
    cursor: pointer;
  }
}
